{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>This is the main page for theMongo to excel exporter</h1>
        <form class="form-inline" id="registerForm"  method="POST" action="submitMongo" role="form">
            <div class="form-group">
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">submitMe!</button>
          </form>
    </div>
{% endblock %}